<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <title>Comp adv</title>
    </head>
    <body>
        <div id="components-adv1">
            <h2>一、局部注册组件</h2>
            <blog-post1 v-for="post in posts"
                       :key="post.id"
                       :post="post"
            ></blog-post1>
        </div>

        <div id="components-adv2">
            <h2>二、prop类型验证</h2>
            <p>字符型props可以无需使用v-bind来绑定变量</p>
            <blog-post2 title="abc" 
            ></blog-post2>
            <p>除字符型外的props变量均需要使用v-bind即冒号来绑定变量，如果传入变量出错，VUE后台会报错，前台不会报错</p>
            <blog-post3 :likes="123" 
            ></blog-post3>
            <p>传入动态变量，在传入动态变量的时候所有数据流都是从父组件流向子组件的，例如本例v-model绑定data当中tof数据可以相互更新，同时用户更新v-model当中数据之后</p>
            <p>在组件当中的props也同步更新</p>
            <p>注意：在组件和字符串模板当中永远使用驼峰命名，在html当中则永远使用短线命名</p>
            <input v-model="tof"/>
            <blog-post4 :is-published="tof"
            ></blog-post4>
            <p>传入一个布尔值</p>
            <blog-post5 :is-fine="false"></blog-post5>
            <p>传入一个数组</p>
            <blog-post6 :arr="[4,5,6]"
            ></blog-post6>
            <p>传入整个对象:方法一，直接利用:posts="posts"，在组件当中props直接声明posts对象本身，template当中使用posts.xxx来使用对象的属性</p>
            <blog-post7 :posts="posts"
            ></blog-post7>
            <p>传入整个对象:方法二，直接利用v-bind="posts"直接传入对象的所有属性，在组件当中props需声明posts对象的属性，template当中使用xxx来使用对象的属性</p>
            <blog-post8 v-bind="posts"
            ></blog-post8>
        </div>
    </body>
    <script charset="utf-8">
        let ComponentA = {
            props: ['post'],
            template: `
                            <div class="blog-post1">
                                <h3>{{post.title}}</h3>
                                <div v-html="post.content"></div>
                            </div>
                        `
        }

        new Vue({
            el: '#components-adv1',
            components: {
                'blog-post1': ComponentA
            },
            data: {
                posts: [
                    {id: 1, title: 'first blog',content:'content1'},
                    {id: 2, title: 'second blog',content:'content2'},
                    {id: 3, title: 'third blog',content:'content3'},
                ]
            }
        })

        let ComponentString = {
            props: {
                title: String,
            },
            template: `
                        <div class="blog-post2">
                            <p>title: hi {{title}}</p>
                        </div>
                        `
        }

        let ComponentNumber = {
            props: {
                likes: Number
            },
            template: `
                        <div>
                            <p>title: hi {{likes}}</p>
                        </div>
                        `
        }

        let ComponentDynamic = {
            props: {
                isPublished: String
            },
            template: `
                        <div>
                            <p>title: hi {{isPublished}}</p>
                        </div>
                        `
        }

        let ComponentBoolean = {
            props: {
                isFine: {
                    type: Boolean,
                    default: true
                }
            },
            template: `
                        <div>
                            <p>title: hi {{isFine}}</p>
                        </div>
                        `
        }

        let ComponentArray = {
            props: {
                arr: {
                    type: Array,
                    default: [1,2,3,4,5]
                },
            template: `
                        <div>
                            <p>title: hi {{arr.join('-')}}</p>
                        </div>
                        `
            },
        }

        let ComponentObject = {
            props: {
                posts: Object
            },
            template: `
                <div>
                    <p>title: hi {{posts.author}}</p>
                </div>
            `
        }

        let ComponentObject2 = {
            props: {
                id: Number,
                author: String
            },
            template: `
                <div>
                    <p>title: hi {{author}}</p>
                </div>
            `
        }

        new Vue({
            el: '#components-adv2',
            components: {
                'blog-post2': ComponentString,
                'blog-post3': ComponentNumber,
                'blog-post4': ComponentDynamic,
                'blog-post5': ComponentBoolean,
                'blog-post6': ComponentArray,
                'blog-post7': ComponentObject,
                'blog-post8': ComponentObject2
            },
            data: {
                tof: "abc",
                posts: {
                    id: 1,
                    author: 'zhang zhongqi' 
                }
            }
        })

    </script>
</html>
