<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue Todo</title>
    <style>
        .completed {
            text-decoration: line-through;
        }

        .selected {
            color: red;
        }

        .empty {
            border-color: red;
        }

        .button_status {
            display:none;
        }
    </style>
</head>

<body>
    <div id="todo-app">
        <div>
            <input type="button" value="全部标为完成" />
            <input type="text" 
                   placeholder="添加 todo"
                   v-model="newTodoTitle"
                   v-bind:class='{empty: emptyChecked}'
                   @keyup.enter="addTodo"/>
            <span v-if='emptyChecked' style="color: red">请输入内容</span>
        </div>
        <!-- todo list -->
        <ul>
            <li v-for='todo in todos' :key='todo.id'>
                <span :class="{completed: todo.completed}">{{todo.title}}</span>
                <span>{{todo.isButtonCompleted}}</span>
                <input type="button" value="标记完成" @click="markAsCompleted(todo)" :class="{button_status: todo.isButtonCompleted}"/>
                <input type="button" value="标记未完成" @click="markAsCompleted(todo)" :class="{button_status: !todo.isButtonCompleted}"/>
                <input type="button" value="删除" @click="deleteNode(todo)">
                <input type="text" value="编辑 todo...">
            </li>
        </ul>
        <!-- end todo list -->
        <div>
            <span>剩余 3 项未完成 ---</span>
            <span>筛选：
                <input type="button" class="selected" value="全部">
                <input type="button" value="进行中">
                <input type="button" value="已完成">
                <input type="button" value="清除已完成">
                <input type="button" value="清除全部">
                <input type="button" value="撤销删除" @click="undoDelete()">
            </span>
        </div>
    </div>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script charset="utf-8">
        let id = 0
        var app = new Vue({
            el: '#todo-app',
            data: function () {
                return {
                    todos: [],
                    temptodos: [],
                    newTodoTitle: '',
                    checkEmpty: false,
                }
            },
            methods: {
                addTodo: function () {
                    if (this.newTodoTitle !== '') {
                        this.checkEmpty = false
                        this.todos.push({id: id++, title: this.newTodoTitle, completed: false, isButtonCompleted: false})
                        this.newTodoTitle = ''
                    } else {
                        this.checkEmpty = true
                    }
                },
                markAsCompleted: function (todo) {
                    todo.completed = !todo.completed
                    todo.isButtonCompleted = !todo.isButtonCompleted
                },
                deleteNode: function(todo){
                   let temp = this.todos.splice(this.todos.indexOf(todo),1)[0]
                   this.temptodos.push(temp)
                },
                undoDelete: function(){
                    this.todos.push(this.temptodos.pop())
                }
            },
            computed: {
                emptyChecked: function () {
                    return this.newTodoTitle.length === 0 && this.checkEmpty
                }
            }
        })
    </script>
</body>

</html>
